<div class="container">
    <div id="main">
        <div id="left">
            <div class="row">
                <div class="col-4 mx-auto">
                    <button id="filter" class="btn btn-primary arrow mt-4" data-toggle="collapse" data-target="#collapsePanel">
                        More filter
                    </button>
                </div>
            </div>
            <div class="show">
                <br>
                <div class="collapse" id="collapsePanel">
                    <%= search_form_for @search, url: search_path, remote: true do |f| %>
                        <div class="row"> 
                            <div class="col-6">
                                <label>Price Range</label>
                            </div>
                            <div class="col-3">
                                <label>Min Price</label>
                                <%= f.text_field :price_gteq, class:"form-control"%>
                            </div>
                            <div class="col-3">
                                <label>Max Price</label>
                                <%= f.text_field :price_lteq, class:"form-control"%>
                            </div>

                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                            <%= text_field_tag :start_date,params[:start_date],readonly: true, placeholder: "Start Date", class: "form-control" %>
                            </div>
                            <div class="col-6">
                                <%= text_field_tag :end_date,params[:end_date],readonly: true, placeholder: "End Date", class: "form-control",disabled:true %>
                            </div>
                        </div>
                        <div class="row mt-4 ">
                            <div class="col-4">
                                <%= check_box_tag('q[room_type_eq_any][]',"Entire") %>Entire
                            </div>
                            <div class="col-4">
                                <%= check_box_tag('q[room_type_eq_any][]',"Private") %>Private
                            </div>
                            <div class="col-4">
                                <%= check_box_tag('q[room_type_eq_any][]',"Shared") %>Shared
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-4 select">
                                <div class="form-group">
                                    <label>accommodate</label>
                                    <%= f.select :accommodate_eq, [["1",1],["2",2],["3",3],["4+",4]], id: "accommodate", prompt: "Select..", class:"form-control" %>
                                </div>
                            </div>
                            <div class="col-4 select">
                                <div class="form-group">
                                    <label>bedroom</label>
                                    <%= f.select :bedroom_eq, [["1",1],["2",2],["3",3],["4+",4]], id: "bedroom", prompt: "Select..", class:"form-control" %>
                                </div>
                            </div>
                            <div class="col-4 select">
                                <div class="form-group">
                                    <label>bathroom</label>
                                    <%= f.select :bathroom_eq, [["1",1],["2",2],["3",3],["4+",4]], id: "bathroom", prompt: "Select..", class:"form-control" %>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4 ">
                            <div class="col-4">
                                <%= check_box_tag('q[is_tv_eq_any][]',"1") %>TV
                            </div>
                            <div class="col-4">
                                <%= check_box_tag('q[is_kitchen_eq_any][]',"1") %>Kitchen
                            </div>
                            <div class="col-4">
                                <%= check_box_tag('q[is_internet_eq_any][]',"1") %>Internet
                            </div>
                            <div class="col-4">
                                <%= check_box_tag('q[is_heating_eq_any][]',"1") %>Heating
                            </div>
                            <div class="col-4">
                                <%= check_box_tag('q[is_air_eq_any][]',"1") %>Air Conditioning
                            </div>
                        </div>
                        <div class="text-right">
                            <%= f.submit "Search", class:"btn btn-primary mt-4"%>
                        </div>
                    <% end %>
                </div>
                <br>
                <div class="row" id="room_id">
                   <%= render 'rooms' %>
                </div>
            </div>
        </div>
        <div id="right">
            <%= render 'maps'%>
        </div>
    </div>
</div>

<script>
     $('#start_date').datepicker({
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '3m',
          onSelect: function(selected){
            $("#end_date").datepicker("option","minDate",selected);
            $("#end_date").attr("disabled",false);
          }
     });
     $('#end_date').datepicker({
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '3m',
          onSelect: function(selected){
            $("#start_date").datepicker("option","maxDate",selected);
          }
     });
</script>

