<div class="container mt-3">
    <div class="row mt-3">
        <div class="col-3 mt-3">
            <div class="card text-center">
                <div class="card-header"><h5>Edit Profile</h5></div>
                <div class="card-body"> 
                    <%= link_to "View Profile",user_path(current_user),class:"btn btn-outline-primary"%>
                </div>
            </div>
        </div>
        <div class="col-8 ml-4 mt-3">
            <div class="card text-center">
                <div class="card-header"><h5>Your Profile</h5></div>
                <div class="card-body">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <div class="form-group">
                            <%= f.text_field :fullname, placeholder: "Full name",class:"form-control form-design" %>
                        </div>
                        <div class="form-group">
                            <%= f.text_field :phonenumber, placeholder: "Phone number",class:"form-control form-design" %>
                        </div>
                        <div class="form-group">
                            <%= f.text_area :description, placeholder: "Description",class:"form-control form-design" %>
                        </div>
                        <div class="form-group">
                            <%= f.email_field :email, placeholder: "Email",class:"form-control form-design" %>
                        </div>
                        <div class="form-group">
                            <%= f.password_field :password, placeholder: "Leave blank if you don't want to change password",class:"form-control form-design" %>
                        </div>
                        <div class="actions">
                            <%= f.submit "Save",class:"btn btn-secondary btn-block" %>
                        </div> 
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
