<div class="card">
    <div class="card-body">
        <h4>
            <small>
                <%= link_to "Listing", listing_room_path, class:"text-dark text-decoration-none"%>
                <span class="float-right"><i class="fa fa-check"></i></span>
            </small>
        </h4>
        <h4>
            <small>
                <%= link_to "Price", price_room_path, class:"text-dark text-decoration-none"%>
                <% if !@room.price.blank? %>
                    <span class="float-right"><i class="fa fa-check"></i></span>
                <% end %>
            </small>
        </h4>
        <h4>
            <small>
                <%= link_to "Description", description_room_path, class:"text-dark text-decoration-none"%>
                <% if !@room.summary.blank? %>
                    <span class="float-right"><i class="fa fa-check"></i></span>
                <% end %>
            </small>
        </h4>
        <h4>
            <small>
                <%= link_to "Photos", photos_room_path, class:"text-dark text-decoration-none"%>
                <% if !@room.photos.blank? %>
                    <span class="float-right"><i class="fa fa-check"></i></span>
                <% end %>
            </small>
        </h4>
        <h4>
            <small>
                <%= link_to "Amenities", amenities_room_path, class:"text-dark text-decoration-none"%>
                <span class="float-right"><i class="fa fa-check"></i></span>
            </small>
        </h4>
        <h4>
            <small>
                <%= link_to "Location", location_room_path, class:"text-dark text-decoration-none"%>
                <% if !@room.address.blank? %>
                    <span class="float-right"><i class="fa fa-check"></i></span>
                <% end %>
            </small>
        </h4>
        <hr>
        <% is_ready = !@room.is_active && !@room.price.blank? && !@room.summary.blank? && !@room.photos.blank? && !@room.address.blank? %>
        <div class="text-center mt-2">
            <%= form_for @room do |f| %>
                <%= f.hidden_field :is_active, value: true %>
                <%= f.submit"Publish", class:"btn btn-primary",disabled: !is_ready%>
            <%end%>
        </div>
    </div>
</div>