<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">shiro_airbnb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <%= link_to "Become host",new_room_path, class: "btn btn-outline-success" %>
                </li>

            <% if user_signed_in? %>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <%= image_tag avatar_url(current_user),class:"rounded-circle avatar-small mr-2"%>
                        <%= current_user.fullname %> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><%= link_to "Manage Listing",rooms_path, class: "dropdown-item" %></li>
                        <li><%= link_to "List Your Space", new_room_path , class: "dropdown-item" %></li>
                        <li><%= link_to "Your Reservation",your_reservations_path, class: "dropdown-item" %></li>
                        <li><%= link_to "Your Trips",your_trips_path, class: "dropdown-item" %></li>
                        <li class="dropdown-divider"></li>
                        <li><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
                        <li>
                            <%= link_to "Logout",  destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                        </li>
                    </ul>
                </li>
            <% else %>
                <li class="nav-item">
                    <%= link_to "Signup",new_user_registration_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Login",new_user_session_path, class: "nav-link" %>
                </li>
            <% end %> 
            </ul>
        </div>
    </div>
</nav>